@tailwind base;
@tailwind components;
@tailwind utilities;

/* 로컬 폰트 적용 부분 */
:root {
  --font-goorm-sans-bold: 'goorm-sans-bold', sans-serif;
  --font-goorm-sans-medium: 'goorm-sans-medium', sans-serif;
  --font-goorm-sans-regular: 'goorm-sans-regular', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  margin-left: auto; 
  margin-right: auto; 
  max-width: 800px;
  /* height: calc(100vh + 83px); */
  height: 100vh; 
  padding: 25px; 
  padding-bottom: 83px; /* navbar 만큼 padding-bottom 값 추가 */
}